[Unit]
Description=VNC Server for X11
Requires=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/x11vnc -forever -display :0 -auth guess -rfbauth /home/gabe/.vnc/passwd

[Install]
WantedBy=i3-session.target
