[user]
  email = gabrielqduarte@gmail.com
  name = Gabriel Duarte
[core]
  pager = delta
  editor = nvim
  excludesfile = ~/.config/.gitignore
[alias]
  ignore = "!gi() { touch .gitignore; echo \"$(curl -sL https://www.gitignore.io/api/$@)\" >> .gitignore; echo \"Added $1 to .gitignore\" ;}; gi"

[merge]
  conflictStyle = diff3
[diff]
    colorMoved = default

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[push]
  autoSetupRemote = true
[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = false
  line-numbers = true
