[user]
  email = gabrielqduarte@gmail.com
  name = Gabriel Duarte
[core]
  editor = nvim
  excludesfile = ~/.config/.gitignore
[alias]
  ignore = "!gi() { touch .gitignore; echo \"$(curl -sL https://www.gitignore.io/api/$@)\" >> .gitignore; echo \"Added $1 to .gitignore\" ;}; gi"

[merge]
  conflictStyle = diff3
[includeIf "gitdir:~/projects/work"]
  path = ~/projects/work/.gitconfig
