$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #02dcff;
$secondary_paletteKeyColor: #597b8f;
$tertiary_paletteKeyColor: #557aa1;
$neutral_paletteKeyColor: #6d797d;
$neutral_variant_paletteKeyColor: #6a7a7f;
$background: #091518;
$onBackground: #d8e5e9;
$surface: #091518;
$surfaceDim: #091518;
$surfaceBright: #2f3b3f;
$surfaceContainerLowest: #051013;
$surfaceContainerLow: #121d21;
$surfaceContainer: #162125;
$surfaceContainerHigh: #202c2f;
$surfaceContainerHighest: #2b373a;
$onSurface: #d8e5e9;
$surfaceVariant: #3a494e;
$onSurfaceVariant: #b9c9ce;
$inverseSurface: #d8e5e9;
$inverseOnSurface: #273236;
$outline: #839398;
$outlineVariant: #3a494e;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00d9fc;
$primary: #00d9fc;
$onPrimary: #003640;
$primaryContainer: #004e5c;
$onPrimaryContainer: #aaedff;
$inversePrimary: #006879;
$secondary: #a8cbe2;
$onSecondary: #0d3446;
$secondaryContainer: #2a4d60;
$onSecondaryContainer: #c7e9ff;
$tertiary: #a4caf5;
$onTertiary: #003256;
$tertiaryContainer: #6f94bc;
$onTertiaryContainer: #000000;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #aaedff;
$primaryFixedDim: #00d9fc;
$onPrimaryFixed: #001f26;
$onPrimaryFixedVariant: #004e5c;
$secondaryFixed: #c4e7ff;
$secondaryFixedDim: #a8cbe2;
$onSecondaryFixed: #001e2c;
$onSecondaryFixedVariant: #284b5d;
$tertiaryFixed: #d0e4ff;
$tertiaryFixedDim: #a4caf5;
$onTertiaryFixed: #001d34;
$onTertiaryFixedVariant: #21496e;
$success: #b5ccba;
$onSuccess: #213528;
$successContainer: #374b3e;
$onSuccessContainer: #d1e9d6;
$term0: #0e1c21;
$term1: #8383ff;
$term2: #63dedb;
$term3: #75fcdd;
$term4: #78b4c1;
$term5: #7aaeea;
$term6: #81d7de;
$term7: #ccdbd5;
$term8: #b1bcb5;
$term9: #bcb9ff;
$term10: #f4fffe;
$term11: #ffffff;
$term12: #bee3e8;
$term13: #c8daff;
$term14: #eafeff;
$term15: #b0ecfc;

$rootTransparency: 0.22; // Transparency = 1 - opacity
$transparency: 0.75;

// Transparent versions
@if $transparent == True {
  $background: transparentize($background, $rootTransparency);
  $surface: transparentize($surface, $transparency);
  $surfaceDim: transparentize($surfaceDim, $transparency);
  $surfaceBright: transparentize($surfaceBright, $transparency);
  $surfaceContainerLowest: transparentize(
    $surfaceContainerLowest,
    $transparency
  );
  $surfaceContainerLow: transparentize($surfaceContainerLow, $transparency);
  $surfaceContainer: transparentize($surfaceContainer, $transparency);
  $surfaceContainerHigh: transparentize($surfaceContainerHigh, $transparency);
  $surfaceContainerHighest: transparentize(
    $surfaceContainerHighest,
    $transparency
  );
  $surfaceVariant: transparentize($surfaceVariant, $transparency);
  $inverseSurface: transparentize($inverseSurface, $transparency);
  $surfaceTint: transparentize($surfaceTint, $transparency);
}

// Others
$subtext: $outline;
$actiontext: mix($onBackground, $background, 85%);
$black: black;
$white: white;

/// Color mappings for more chaotic, dynamic colors like the average rice ///
// General
$layer0: $background;
$onLayer0: $onBackground;
$layer0Hover: mix($layer0, $onLayer0, 85%);
$layer0Active: $surfaceContainerHigh;
$onLayer0Active: $onSurface;
$onLayer0Inactive: mix($onLayer0, $layer0, 70%);
$layer1: $surfaceContainerLow;
$onLayer1: $onSurface;
$onLayer1Inactive: mix($onLayer1, $layer1, 45%);
$onLayer1: $onSurfaceVariant;
$layer2: mix($surfaceContainer, $surfaceContainerHigh, 55%);
$onLayer2: $onSurface;
$layer3: $surfaceContainerHigh;
$onLayer3: $onSurface;
$layer1Hover: mix($layer1, $onLayer1, 85%);
$layer1Active: mix($layer1, $onLayer1, 70%);
$layer2Hover: mix($layer2, $onLayer2, 90%);
$layer2Active: mix($layer2, $onLayer2, 80%);
$layer3Hover: mix($layer3, $onLayer3, 90%);
$layer3Active: mix($layer3, $onLayer3, 80%);
// Elements
$windowtitleOnLayer0Inactive: $onLayer0Inactive;
$windowtitleOnLayer0: $onLayer0;
$barspacerightOnLayer0: $onLayer0;
$timeOnLayer1: $onLayer1;
$dateOnLayer1: $onLayer1;
$ramOnLayer1: $onLayer1;
$ramLayer2: $secondaryContainer;
$ramOnLayer2: $onSecondaryContainer;
$swapOnLayer1: $onLayer1;
$swapLayer2: $secondaryContainer;
$swapOnLayer2: $onSecondaryContainer;
$cpuOnLayer1: $onLayer1;
$cpuLayer2: $secondaryContainer;
$cpuOnLayer2: $onSecondaryContainer;
$musicOnLayer1: $onLayer1;
$musicLayer2: $secondaryContainer;
$musicOnLayer2: $onSecondaryContainer;
$utilsLayer2: $layer2;
$utilsOnLayer2: $onLayer2;
$battOnLayer1: $onLayer1;
$battLayer2: $secondaryContainer;
$battOnLayer2: $onSecondaryContainer;
$trayOnLayer0: $onLayer0;
$cheatsheetTitle: $onSecondaryContainer;
$cheatsheetColors: (
  $onSecondaryContainer,
  $onSecondaryContainer,
  $onSecondaryContainer,
  $onSecondaryContainer,
  $onSecondaryContainer,
  $onSecondaryContainer,
  $onSecondaryContainer,
  $onSecondaryContainer
);

$sessionColors: (
  $onLayer1,
  $onLayer1,
  $onLayer1,
  $onLayer1,
  $onLayer1,
  $onLayer1,
  $onLayer1
);
$brightnessOnLayer0: $onLayer0;
$volumeOnLayer0: $onLayer0;
