configuration {
    font:                "Geist 12";
    show-icons:          true;
    display-drun:        "Apps";
    drun-display-format: "{name}";
    scroll-method:       0;
    disable-history:     false;
    sidebar-mode:        false;
}

@import "~/.config/rofi/themes/rounded-nord-dark.rasi"
