# git
alias git=hub
alias g=git
alias ga="git --add"
alias gc="git commit"
alias gcm="git commit -m"
alias gs="git stash"
alias gsa="git stash apply"
alias gst="git status"
alias gl="git log"
alias glo="git log --oneline"
alias gp="git pull"

# yarn
alias y=yarn
alias ys="yarn run start"
alias yt="yarn run test"
alias yl="yarn run lint"
alias yb="yarn run build"
alias yu="yarn upgrade-interactive --latest"

# npm
alias ns="npm run start"
alias nt="npm run test"
alias nl="npm run lint"
alias nb="npm run build"

# misc
alias proj="cd ~/Projects"
alias cls="clear"
alias l='ls -1A'
