# git
alias git=hub
alias g=git
alias ga="git add --all"
alias gc="git commit"
alias gcm="git commit -m"
alias gs="git stash"
alias gsa="git stash apply"
alias gst="git status"
alias gl="git log"
alias glo="git log --oneline"
alias gp="git push"
gcb() {
  git checkout -b $1
  git push -u origin $1
}

# yarn
alias y=yarn
alias ys="yarn run start"
alias yt="yarn run test"
alias yl="yarn run lint"
alias yb="yarn run build"
alias yu="yarn upgrade-interactive --latest"

# npm
alias ns="npm run start"
alias nt="npm run test"
alias nl="npm run lint"
alias nb="npm run build"
alias nu="npx npm-check -u"

# fzf
# cd into some folder inside the projects folder
alias p='cd "$PROJECTS_FOLDER/$(find $PROJECTS_FOLDER -type d -maxdepth 1 ! -path $PROJECTS_FOLDER -exec basename {} \; | fzf)"'
# cd into some folder inside the work projects folder
alias pw='cd "$WORK_FOLDER/$(find $WORK_FOLDER -type d -maxdepth 1 ! -path $WORK_FOLDER -exec basename {} \; | fzf)"'
# vim into a project folder
alias ep='$EDITOR "$PROJECTS_FOLDER/$(find $PROJECTS_FOLDER -type d -maxdepth 1 ! -path $PROJECTS_FOLDER -exec basename {} \; | fzf)"'
# vim into a work project folder
alias epw='$EDITOR "$WORK_FOLDER/$(find $WORK_FOLDER -type d -maxdepth 1 ! -path $WORK_FOLDER -exec basename {} \; | fzf)"'

# misc
alias proj="cd ~/Projects"
alias cls="clear"
alias l='ls -1A'
alias gd-oss="npx -p yo -p generator-gd-scripts -c 'yo gd-scripts'"
alias vim="nvim"
alias vi="nvim"
alias :q="exit"

killport() { lsof -i tcp:"$*" | awk 'NR!=1 {print $2}' | xargs kill -9 ;}
