@import "../colors.scss";

.island {
  background-color: $layer1;
  border-radius: 24px;
  margin: 8px 12px;
  padding: 0 16px;

  >*:not(:last-child) {
    margin-right: 8px;
  }
}

.workspace {
  padding: 4px 12px;
  margin: 4px 0px;
  margin-left: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }

  &.active {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:first-child {
    margin-left: 0;
  }

  // &:last-child {
  //   margin-right: 0;
  // }
}

.bar {
  background-color: $layer0;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 4px;
}

.sys-tray {
  background-color: $layer1;
  border-radius: 24px;
}

.sys-tray-item {
  &:not(:first-child) {
    margin-left: 8px;
  }

  &:last-child {
    margin-right: 8px;
  }
}
